.login-wrapper {
  display: flex;
  justify-content: center;
}

#login-form input {
  width: 120px;
  height: 40px;
  font-size: 20px;
}

#login-form button {
  height: 40px;
  font-size: 20px;
}

#logout-button {
  height: 40px;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.greeting-wrapper {
  display: flex;
  align-items: center;
}
